<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_FbPixel>
            <version>0.1.0</version>
        </Stuntcoders_FbPixel>
    </modules>
    <global>
        <blocks>
            <stuntcoders_fbpixel>
                <class>stuntcoders_fbpixel_Block</class>
            </stuntcoders_fbpixel>
        </blocks>
        <helpers>
            <stuntcoders_fbpixel>
                <class>stuntcoders_fbpixel_Helper</class>
            </stuntcoders_fbpixel>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <stuntcoders_fbpixel>
                    <file>stuntcoders/fbpixel.xml</file>
                </stuntcoders_fbpixel>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stuntcoders_fbpixel>
                                            <title>Facebook Pixel</title>
                                        </stuntcoders_fbpixel>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>