<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_FbPixel>
            <version>0.1.0</version>
        </Stuntcoders_FbPixel>
    </modules>
    <global>
        <models>
            <stuntcoders_fbpixel>
                <class>Stuntcoders_FbPixel_Model</class>
                <resourceModel>stuntcoders_fbpixel_resource</resourceModel>
            </stuntcoders_fbpixel>
            <stuntcoders_fbpixel_resource>
                <class>Stuntcoders_FbPixel_Model_Resource</class>
            </stuntcoders_fbpixel_resource>
        </models>
        <blocks>
            <stuntcoders_fbpixel>
                <class>Stuntcoders_FbPixel_Block</class>
            </stuntcoders_fbpixel>
        </blocks>
        <helpers>
            <stuntcoders_fbpixel>
                <class>Stuntcoders_FbPixel_Helper</class>
            </stuntcoders_fbpixel>
        </helpers>
        <events>
            <wishlist_add_product>
                <observers>
                    <stuntcoders_fbpixel>
                        <class>stuntcoders_fbpixel/observer</class>
                        <method>onAddToWishlist</method>
                    </stuntcoders_fbpixel>
                </observers>
            </wishlist_add_product>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <stuntcoders_fbpixel>
                    <file>stuntcoders/fbpixel.xml</file>
                </stuntcoders_fbpixel>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stuntcoders_fbpixel>
                                            <title>Facebook Pixel</title>
                                        </stuntcoders_fbpixel>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>